.container {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://cdn.discordapp.com/attachments/994287501470601314/1243645242096357416/Designer.png?ex=66523a63&is=6650e8e3&hm=8bff75fa580044d19d52120ed441f811292a8a4fe91ec54459472ca8cc55fae9&");
}
